body{
    margin: 0;
    background-color: rgb(214, 210, 210);
}

.header{
    margin: 0;
    color: #DC0707;
    text-align: center;
    background-color: black;
}

.headerTitle{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
}

#offcanvasButton{
    background-color: #DC0707;
    color: black;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 60%;
    font-weight: bold;
}

.navbar{
    background-color: #DC0707;
}

.nav-link{
    color: white;
}

.famousTitle{
    background-color: #F8D000;
    text-align: center;
}

.flagBlock{
    text-align: center;
}

.blackBlock{
    background-color: black;
    border: thin solid black;
}

.redBlock{
    background-color: #DC0707;
    border: thin solid black;
}

.yellowBlock{
    background-color: #F8D000;
    border: thin solid black;
}


.introText{
    text-align: center;
}

.footer{
    background-color: #DC0707;
    font-weight: bold;
    font-variant: small-caps;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 0;
}

.className{
    text-align: left;
}

.names{
    text-align: center;
}

.dueDate{
    text-align: right;
}

.person{
    background-color: #F8D000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Mobile Screen*/
@media screen and (max-device-width: 767px){
#offcanvasButton{
    font-size: 1.6rem;
}

.navbar{
    display: none;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.carousel-inner{
    max-height: 400px;
}

.introText{
    font-size: 1.3rem;
}

.flagBlockContent{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.flagBlock{
    grid-column: 2/3;
}

.blackBlock{
    height: 75px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.redBlock{
    height: 75px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.yellowBlock{
    height: 75px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.flagBlockNav{
    font-size: 1.4rem;
    grid-row: 2/3;
}

.footer{
    margin-top: 40px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: .8rem;
}

.prost{
    font-style: italic;
}

.historyTitle{
    background-color: #F8D000;
    text-align: center;
}

.historyImage{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

picture{
    grid-column: 2/3;
}

.historyIntro{
    text-align: center;
    font-style: italic;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding-top: 15px;
}

.historyIntro > p{
    grid-column: 2/3;
}
}

.famousName{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

/*Larger Screen*/
@media screen and (min-device-width: 768px){
    #offcanvasButton{
        display: none;
    }

}

/*Larger Screen*/
@media screen and (min-device-width: 992px){

}


h1 {
    text-align: center;
    background-color: #f8d000;
}
img {
    max-width: 100%;
}
p {
    text-align: center;
}

.card {
    margin-bottom: 10px;
}

.footer{
    background-color: #DC0707;
    font-weight: bold;
    font-variant: small-caps;
     display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 0;
    margin-top: 40px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: .8rem;
} 

body{
    font-size: 1.2rem;
    margin: 0;
    background-color: rgb(214, 210, 210);
}

.header{
    margin: 0;
    color: #DC0707;
    text-align: center;
    background-color: black;
}

.headerTitle{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
}


#offcanvasButton{
    background-color: #DC0707;
    color: black;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 60%;
    font-weight: bold;
}


.navbar{
    background-color: #DC0707;
}

.nav-link{
    color: white;
}

.fact {
    background-color: #f8d000;
}

.btn {
    background-color: #f8d000;
}

@media screen and (max-device-width: 768px){


#offcanvasButton{
    font-size: 1.6rem;
}

.navbar{
    display: none;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
}

@media screen and (min-width: 992px){
    #mark {
        width: 75%;
    }
    }
